<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Index de Sistemas -- CSCOM -- Banco da Amazônia</title>
<link th:href="@{/images/faviconbasa.ico}" rel="shortcut icon"
	type="image/x-icon" />
</head>
<body>

	<section layout:fragment="corpo-central">

	<div class="container">

		<table class="table table-striped">

			<thead>
				<tr>
					<th>Sistema</th>
					<th>Endereço</th>
				</tr>
			</thead>
			
			<tbody>

			<th:block th:each="sistema : ${sistemas}">
			<th:block th:each="endereco : ${sistema.enderecos}">
			
			<tr scope="row">
				<td scope="col"><a th:href="${endereco.link}" th:text="${sistema.nome}" th:title="${sistema.descricao}" target="_blank"></a></td>
				<td scope="col" th:text="${endereco.link}"></td>
			</tr>
			
			</th:block>
			</th:block>
		
			</tbody>

		</table>

	</div>

	</section>

</body>
</html>