<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<section layout:fragment="corpo-central">

	<div class="container">

		<table class="table table-striped">

			<thead>
				<tr>
					<th>Contrato</th>
					<th>Data da Ocorrência</th>
					<th>Descrição</th>
				</tr>
			</thead>
			
			<tbody>

			<th:block th:each="ocorrencia : ${ocorrencias}">
			
			<tr scope="row">
				<td scope="col" th:text="${ocorrencia.contrato.numero}"></td> <div th:with="numeroContrato=${ocorrencia.contrato.numero}"></div>
				<td scope="col" th:text="${ocorrencia.dataOcorrencia}"></td>
				<td scope="col" th:text="${ocorrencia.descricao}"></td>
			</tr>
			
			</th:block>
		
			</tbody>

		</table>

	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-5 col-lg-2">
				<button class="btn btn-primary btn-block"
					onclick="javascript:window.location.href = '/ocorrencias/novo/'">
					<i class="fas fa-plus-circle"></i>&nbsp Nova Ocorrência
				</button>
			</div>
		</div>
	</div>

	</section>

</body>
</html>