<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymealeaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div th:fragment="formulario">

		<div class="card">
			<div class="card-header">Cadastro de Contrato</div>
			<div class="card-body">
				<form method="post" th:action="@{/contratos/salvar}"
					th:object="${contrato}">

					<div class="form-group">
						<input type="hidden" th:field="*{id}" name="id" />
						<div class="form-label-group">
							 <input type="text"
								class="form-control" id="numero" name="contrato.numero"
								th:field="*{numero}" placeholder="Número do Contrato" autofocus="autofocus"
								maxlength="7" required /> <label for="numero" class="">Número</label>
						</div>
					</div>

					<div class="form-group">
						<div class="form-label-group">
							<input type="text"
								class="form-control" id="ano" name="contrato.ano"
								th:field="*{ano}" placeholder="Ano do Contrato" maxlength="4"
								required /> <label for="ano">Ano</label> 
						</div>
					</div>

					<div class="form-group">
						<div class="form-label-group">

							 <select name="contrato.gestor"
								class="form-control" id="gestor" th:field="*{gestor}" required>

								<option value="">Selecione um Gestor...</option>

								<th:block th:each="gestor : ${gestores}">
									<option th:value="${gestor.id}" th:text="${gestor.nome}"></option>
								</th:block>

							</select><label for="gestor"></label>

						</div>
					</div>

					<div class="form-group">
						<div class="form-label-group" id="divFical" hidden>

							 <select name="contrato.fiscal"
								class="form-control" id="fiscal" th:field="*{fiscal}" required>

								<option value="">Selecione um Fiscal...</option>

								<th:block th:each="fiscal : ${gestores}">
									<option th:value="${fiscal.id}" th:text="${fiscal.nome}"></option>
								</th:block>

							</select><label for="fiscal"></label>

						</div>
					</div>

					<div class="form-group">
						<div class="form-label-group">

							 <select
								name="contrato.empresa" class="form-control" id="empresa"
								th:field="*{empresa}" required>

								<option value="">Selecione uma Contratada...</option>

								<th:block th:each="empresa : ${empresas}">
									<option th:value="${empresa.id}" th:text="${empresa.nome}"></option>
								</th:block>

							</select><label for="empresa"></label>

						</div>
					</div>

					<div class="form-group">
						<div class="form-label-group">
							<input type="text"
								class="form-control" id="objeto" maxlength="100"
								th:field="*{objeto}" name="contrato.objeto"
								placeholder="Objeto do Contrato" required /><label for="objeto">Objeto</label> 
						</div>
					</div>

					<div class="form-group">
						<div class="form-label-group">
							 <input
								type="text" th:field="*{valor}" class="form-control money"
								id="valor" placeholder="Valor do Contrato" required /><label for="valor">Valor do Contrato (R$)</label>
						</div>
					</div>

					<div class="form-group">
						<div class="form-label-group">
							<input
								th:field="*{dataAssinatura}" type="text"
								name="contrato.dataAssinatura" id="dataAssinatura"
								class="form-control data datepicker" placeholder="DD/MM/AAAA"
								required /><label for="dataAssinatura">Data de Assinatura</label> 
						</div>
					</div>

					<div class="form-group">
						<div class="form-label-group">
							 <input th:field="*{inicioVigencia}" type="text"
								name="contrato.inicioVigencia" id="inicioVigencia"
								class="form-control data datepicker" placeholder="DD/MM/AAAA"
								required /><label for="inicioVigencia">Inicio de Vigência do
								Contrato</label>

						</div>
					</div>

					<div class="form-group">
						<div class="form-label-group">
							
							<input th:field="*{finalVigencia}" type="text"
								name="contrato.finalVigencia" id="finalVigencia"
								class="form-control data datepicker" placeholder="DD/MM/AAAA"
								required /><label for="finalVigencia">Final de Vigência do Contrato</label>
						</div>
					</div>

					<div class="form-group">
						<div class="form-label-group">

							<select
								name="contrato.status" id="status" class="form-control"
								th:field="*{status}" required>

								<option value="">Selecione o Status do Contrato...</option>

								<th:block th:each="status : ${status}">
									<option th:value="${status}" th:text="${status}"></option>
								</th:block>

							</select><label for="status"></label> 

						</div>
					</div>

					<button type="submit" class="btn btn-primary btn-block">
						<i class="far fa-save"></i>&nbsp Salvar
					</button>
					<button type="button" class="btn btn-danger btn-block"
						onclick="window.location.href = 'lista';">
						<i class="fas fa-times-circle"></i>&nbsp Cancelar
					</button>


				</form>
			</div>
		</div>
<br />

	</div>
</body>
</html>