<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
</head>
<body>
	<footer class="footer" th:fragment="footer">
	<div class="container">
		<span class="text-muted">Total de Contratos .: <span th:text="${totalContratos}"/> || Valor Total .: R$ 10000 || Versão para Impressão .: <a href="#" data-tippy="Clique para gerar Relatório" ><i class="fas fa-file-pdf"></i></a></span>
	</div>
	</footer>
</body>
</html>