<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymealeaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Gesthor || Gestão Poderosa de Contratos!</title>

<link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/webjars/bootstrap/4.1.3/scss/bootstrap.scss}"
	rel="stylesheet" type="application/octet-stream" />
	
<link th:href="@{/webjars/font-awesome/5.2.0/css/all.css}"
	rel="stylesheet" type="text/css" />
		
<link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>


<link rel="icon" th:href="@{/images/favicon.ico}"/>

</head>

<body>

	<header th:replace="fragments/header :: header"> </header>

	<section layout:fragment="corpo-central"> </section>

<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script th:src="@{/webjars/jquery-mask-plugin/1.14.15/dist/jquery.mask.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>

<script type="text/javascript">
			
			$(document).ready(function(){
				$(".data").mask("99/99/9999");
				$('.money').mask('000.000.000.000.000,00', {reverse: true});
				
				$('.table').DataTable({
					"language":{
						"search":"Pesquise os registros da tabela:",
						"zeroRecords": "Nenhum registro encontrado com o filtro passado",
						"info":"Exibindo _START_ até _END_ de _TOTAL_ registros",
						"infoFiltered": "(Total de Registros Existentes .: _MAX_)",
						"lengthMenu": "Mostrar _MENU_ registros"
					}
				});
				
			});
	
			</script>		

</body>
</html>