<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html layout:decorate="~{template}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<section layout:fragment="corpo-central">

	<div class="container">
		
				 <ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Dashboard</a>
					</li>
					<li class="breadcrumb-item active">Blank Page</li>
				</ol>
		
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table"></i> Gestores Cadastrados
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Setor</th>
								<th>Telefone</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Nome</th>
								<th>Setor</th>
								<th>Telefone</th>
							</tr>
						</tfoot>
						<tbody>
							<tr th:each="gestor : ${gestores}">
								<td th:text="${gestor.nome}" />
								<td th:text="${gestor.setor}" />
								<td th:text="${gestor.telefone}" />
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-footer small text-muted">Updated yesterday at
				11:59 PM</div>
		</div>

	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-5 col-lg-2">
				<button class="btn btn-primary btn-block"
					onclick="javascript:window.location.href = '/gestores/novo'">
					<i class="fas fa-plus-circle"></i>&nbsp Novo Gestor
				</button>
			</div>
		</div>
	</div>

	</section>

</body>
</html>