<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<section layout:fragment="corpo-central">

	<div class="container">

		<table class="table table-striped">

			<thead>
				<tr>
					<th>Nome</th>
					<th>Setor</th>
					<th>Telefone</th>
				</tr>
			</thead>

			<tbody>

				<th:block th:each="gestor : ${gestores}">

					<tr scope="row">
						<td scope="col" th:text="${gestor.nome}"></td>
						<td scope="col" th:text="${gestor.setor}"></td>
						<td scope="col" th:text="${gestor.telefone}"></td>
					</tr>

				</th:block>

			</tbody>

		</table>

	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-offset-5 col-lg-2">
				<button class="btn btn-primary btn-block"
					onclick="javascript:window.location.href = '/gestores/novo'">
					<i class="fas fa-plus-circle"></i>&nbsp Novo Gestor
				</button>
			</div>
		</div>
	</div>

	</section>

</body>
</html>