<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div th:fragment="formulario">
		
		<form method="post" th:action="@{/ocorrencias/salvar}" th:object="${ocorrencia}">
		
			<div class="row">
				<div class="form-group col-xs-6">
					<input type="hidden" id="id" th:field="*{id}"/>
					<label for="dataOcorrencia">Data Ocorrência</label> <input type="text"
						class="form-control data datepicker" id="dataOcorrencia" th:field="*{dataOcorrencia}"
						placeholder="Data Ocorrencia (DD/MM/YYYY)"/>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-xs-6">
					<label for="descricao">Descrição</label> <input type="text"
						class="form-control" id="descricao" th:field="*{descricao}"
						placeholder="Insira fato da ocorrência"/>
				</div>
			</div>

			<button type="submit" class="btn btn-primary"><i class="far fa-save"></i>&nbsp Salvar</button>
			<button type="button" class="btn btn-danger"
				onclick="window.location.href = '/contratos/lista';"><i class="fas fa-times-circle"></i>&nbsp Cancelar</button>


		</form>
	</div>
</body>
</html>